@page "/"

<PageTitle>Home</PageTitle>
<h1><strong>Sistema de Facturaci&oacute;n</strong></h1>

<div class="row">
	<div class="col-3">
		<p><strong>Clase:</strong> Lenguajes de Programaci&oacute;n</p>
		<p><strong>Enfoque:</strong> Programaci&oacute;n por Capas</p>
		<p><strong>Maestro</strong> Hector Ventura</p>
		<p><strong>Año:</strong> 2024</p>
	</div>
	<div class="col-9">
		<img src="Imagenes/imagen_factura_electronica-1024x1024.png" alt="Factura Electrónica" />
	</div>
</div>